Reiterate the CloudFormation template.
            
<cloudformation>
    {{cloudformationTemplate}}
</cloudformation>

Do not return examples or explaination, only return the generated CloudFormation YAML template without ```yaml ```. Skip the preamble. Think step-by-step. 